.example-card {
  width: 100px;
  height: auto;
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
// .mat-grid-tile .mat-grid-tile-footer>*{
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.avira-image {
  height: 300px;
  width: auto;
}